body {
  background-image: url(bg-gray-test-1.png);
}

.Home {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #e8eaed;
}

.text {
  height: 150px;
  width: 300px;
  border: 1px solid #ccc;
  font: 16px/26px Georgia, Garamond, Serif;
  overflow: auto;
  position: relative;
  display: inline-block;
}


//.LibrarySearch {
  font-size: 40px;
  font-family: Helvetica;
  font-weight: bold;
  background-color: #104735;
  margin-left: 90px;
  margin-right: 90px;
  padding: 25px;
  border-radius: 50%;
}

.wrap {
  display: flex;
  transform: translate(17%);
}

.mGlass {
  background-color: #222;
  border: 1px solid #111;
  cursor: pointer;
  font-size: 17px;
}

.input {
  font-size: 20px;
  background-attachment: #fff;
}

.UO {
  margin-top: 50px;
}
.UO {
  filter: hue-rotate(280deg) brightness(350%);
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: #fff;
  font-size: 21px;
}
